<section class="artist-items-section">
    <div class="artist-items-container">
        <div class="Name-column">
            <h1>Artist's Bio</h1>


            <div class="artist-items">
                <div *ngFor="let item of artistItems">
                    <app-artist-bio-card *ngIf="item.amount >= 0" 
                        [item] = 'item' (cardClick) = "onCardClicked(item)"
                        (xButtonClick) = "onDelete(item)"
                        style="display:block; margin-bottom:20px;"></app-artist-bio-card>
                </div>
            </div>
        </div>

        <!-- <div class="expenses-column">
            <h1>Expenses</h1>
            <div class="artist-items">
                <div *ngFor = "let item of artistItems">
                    <app-artist-bio-card *ngIf = "item.amount < 0"
                    [item] = "item" (xButtonClick) = "onDelete(item)"
                    (cardClick) = "onCardClicked(item)"
                    style="display:block; margin-bottom: 20px;"></app-artist-bio-card>
                </div>
            </div>
        </div> -->
    </div>
</section>
